body {
  padding: 2rem;
  align-content: center;
  font-family: 'Taviraj', serif;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
a, a:hover {
  color: inherit;
  text-underline: none;
}
ul, ol {
    color: inherit;
    list-style-type: none;
    text-decoration: none;
}
#landPix {
  background-color: #F1DDC9;

}
div h6 {
  font-size: 12px;
}

hr {
  border: none;
    height: 2px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}
small {
  font-size: 8px;
}
.none {
  margin-bottom: 0 !important;
}